---
const { content } = Astro.props
---

<ul>
    {content.map((point: any) => (
        <li class="mb-4">
            <span class="font-bold">{point.heading}: </span>
            <span>{point.information}</span>
        </li>
    ))}
</ul>