<section class="bg-white">
    <div class="container w-dvw max-w-none h-dvh py-20 px-8 bg-[linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/hero-image-2.jpeg')] bg-center bg-cover flex items-center">
        <div class="text-center">
          <h1 class="text-5xl lg:text-5xl font-serif font-bold text-white mb-6">
            Innovative Healthcare Product Development to Transform Patient Care and Clinical Workflows
          </h1>
        </div>
    </div>
  </section>