---
import { Icon } from "astro-icon/components";

const steps = [
  {
    icon: 'conceptualization', // Placeholder SVG path for the first icon
    description: 'We collaborate with stakeholders to identify needs, define product vision, and create a strategic roadmap for development.'
  },
  {
    icon: 'design', // Placeholder SVG path for the second icon
    description: 'Our team develops prototypes, user-friendly interfaces and scalable architectures.'
  },
  {
    icon: 'development', // Placeholder SVG path for the third icon
    description: 'We build secure, compliant, and scalable solutions while ensuring FDA, CE, HIPAA, and FHIR compliance throughout the process.'
  },
  {
    icon: 'validation',
    description: 'We rigorously test and validate the product for performance, safety, and efficacy, followed by a smooth deployment and market launch.'
  }
];
---

<section class="pb-20 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-serif font-bold text-center mb-16">How it works</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      {steps.map((step, index) => (
        <div class="bg-gray-50 p-8 rounded-lg text-center" id={`step-${index.toString()}`}>
          {/* <svg class="w-16 h-16 mx-auto mb-6 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-inejoin="round" stroke-width={2} d={step.icon} />
          </svg> */}
          <Icon class="block mx-auto w-16 h-16 mb-6" name={step.icon} />
          <p class="text-gray-700">{step.description}</p>
        </div>
      ))}
    </div>
  </div>
</section>
