<section class="bg-white">
    <div class="container w-dvw max-w-none py-20 px-8 bg-[url('/hero-image.png')] bg-center bg-cover">
        <div class="lg:w-1/2 lg:pr-12">
          <h1 class="text-5xl lg:text-5xl font-serif font-bold text-gray-900 mb-6">
            Expert Healthcare IT Consulting to Drive Digital Transformation
          </h1>
        </div>
    </div>
  </section>