<section class="bg-gray-100 pt-8 pb-16 px-10 text-lg text-justify">
    <p class="mb-4">Our Consulting and Auditing Services provide expert guidance to healthcare organizations, helping them navigate the complexities of Electronic Health Records (EHR) implementation, cybersecurity, interoperability, and radiology solutions.</p>
    <p>Additionally, our Healthcare Cybersecurity Services ensure robust risk management, penetration testing, and incident response to safeguard sensitive patient data against cyber threats</p>
</section>