---
import { Image } from 'astro:assets';
import logoImg from '../assets/logo.jpeg';

const navItems = [
  { label: 'Home', href: '/' },
  // { label: 'Solutions', href: '/services/product-development' },
  // { label: 'Who We Help', href: '#' },
  // { label: 'Outcomes', href: '#' },
  { label: 'About Us', href: '/about-us' },
  // { label: 'Resources', href: '#' },
];
---

<header class="bg-white shadow-md sticky top-0">
  <div class="container mx-auto px-8 py-4 flex flex-col md:flex-row justify-between items-center">
    <div class="flex flex-row justify-between items-center w-full md:w-auto">
      <a href="/" class="flex font-serif font-bold items-center">
        <Image
          src={logoImg}
          alt="Company Logo Image"
          class="rounded-lg"
          width={200}
        />
      </a>
      <button class="md:hidden" id="hamburger">&#9776;</button>
    </div>
    <nav class="hidden md:flex md:flex-row md:space-x-6 items-center" id="navlinks">
      {navItems.map(item => (
        <a href={item.href} class="text-gray-700 hover:text-primary-500 transition duration-150 ease-in-out block text-center mb-2 md:mb-0 hover:underline">
          {item.label}
        </a>
      ))}
      <div class="relative">
        <button id="services-submenu-toggle" class="text-gray-700 hover:text-primary-500 hover:underline">
          Services
        </button>
        <div id="services-submenu" class="hidden absolute bg-white rounded-md py-3 px-3 left-[50%] md:left-0 md:translate-x-[-80%] translate-x-[-50%] border-[2px]">
          <a class="block text-nowrap mb-3 hover:underline" href="/services/product-development">Product Development and Consulting</a>
          <a class="block text-nowrap hover:underline" href="/services/outsourcing">Outsourcing and Knowledge Processing</a>
        </div>
      </div>
    </nav>
    <!-- <a href="/#" class="bg-primary-500 text-white px-4 py-2 rounded hover:bg-primary-600 transition duration-150 ease-in-out">
      Contact Us
    </a> -->
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.querySelector("#hamburger");
    const navLinks = document.querySelector("#navlinks")
    hamburger?.addEventListener("click", () => {
      navLinks?.classList.toggle("hidden");
    });

    const servicesSubmenuToggle = document.querySelector("#services-submenu-toggle");
    const servicesSubmenu = document.querySelector("#services-submenu");
    servicesSubmenuToggle?.addEventListener("click", () => {
      servicesSubmenu?.classList.toggle("hidden");
    })
  })
</script>
