---
import { Image } from 'astro:assets';
import nexxrad from '../../assets/logos/nexxrad.png'
import advancedRadiology from '../../assets/logos/advanced-radiology.png';
import buenaVista from '../../assets/logos/buena-vista.png';
import samaritanHealthcare from '../../assets/logos/samaritan-healthcare.png';
import logo5 from '../../assets/logos/5.png';

const partners = [
  { name: "NexxRad", logo: nexxrad },
  { name: "Advanced Radiology Imaging Associates", logo: advancedRadiology },
  { name: "Buena Vista Regional Medical Center", logo: buenaVista },
  { name: "Samaritan Healthcare", logo: samaritanHealthcare },
//   { name: "Ignite Bright", logo: logo5 },
//   { name: "Ignite Bright", logo: logo5 },
//   { name: "Borcelle", logo: buenaVista },
//   { name: "Maria Donna", logo: samaritanHealthcare },
//   { name: "Wildwood Conservation", logo: advancedRadiology },
//   { name: "Fradel & Sons", logo: nexxrad },
  // Add more partners here
];
---

<section class="bg-gray-100 pt-12 pb-16">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-serif font-bold text-center mb-12">Our Partners</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-4 gap-8">
            {partners.map((partner) => (
                <div class="flex items-center justify-center">
                    <Image
                        src={partner.logo}
                        alt={partner.name}
                        class="rounded-lg"
                        width={128}
                        height={128}
                    />
                </div>
            ))}
        </div>
    </div>
</section>