<section class="bg-white pt-12 pb-16 px-20">
    <h2 class="text-3xl font-serif font-bold text-center mb-12">Our Vision</h2>
    <div class="text-justify">
        <p class="mb-2">At MedMarvel Software Solutions Private Limited, our vision is to be the global leader in healthcare technology, transforming the industry with innovative, intelligent, and patient-centric solutions.</p>
        <p>By continuously pushing the boundaries of innovation, we aim to create a future where advanced healthcare solutions seamlessly integrate with everyday medical practices, improving the lives of patients, healthcare professionals, and communities worldwide.</p>
    </div>
</section>