<section class="bg-gray-50 pt-8 pb-8 px-10 text-lg text-justify">
    <p>MedMarvel Software Solutions Private Limited is a leading healthcare technology company that provides innovative enterprise product development and business & knowledge process outsourcing services to healthcare organizations, medical device manufacturers, and pharmaceutical companies. </p>
</section>