---
import Features from "./Features.astro";
---

<section class="bg-white pt-8 pb-8 px-10 text-lg text-justify">
    <!-- <div class="absolute inset-0 z-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="absolute bottom-0 left-0 w-full h-full"
        preserveAspectRatio="none"
      >
        <path
          fill="rgba(255,255,255,0.1)"
          fill-opacity="1"
          d="M0,96L48,112C96,128,192,160,288,160C384,160,480,128,576,128C672,128,768,160,864,176C960,192,1056,192,1152,176C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div> -->
        <h2 class="text-3xl font-serif font-bold text-center mb-16">
          Why Choose Us?
        </h2>
        <p class="mb-12">
          At MedMarvel Software Solutions, we don’t just provide services—we become strategic partners in your growth. With a deep understanding of healthcare IT, medical product development, and outsourcing, we deliver tailored solutions that enhance operational efficiency, ensure compliance, and improve patient outcomes.
        </p>
        <p class="mb-12">
          With a significant presence in India and around-the-clock operations, we provide seamless support for healthcare organizations worldwide, including night-time shifts and weekend overflow management for US-based businesses.
        </p>
        <Features />
  </section>
  