---
const services = [
    {
        title: "Product Development and Consulting",
        description: "Innovative healthcare product development and consulting for software, medical devices, and digital health solutions.",
        link: "/services/product-development"
    },
    // {
    //     title: "Consulting",
    //     description: "Expert healthcare IT consulting to optimize workflows, enhance interoperability, and improve patient outcomes.",
    //     link: "/services/consulting"
    // },
    {
        title: 'Knowledge Processing and Outsourcing',
        description: 'Cost-effective healthcare outsourcing solutions in transcription, coding and billing, data management, and teleradiology.',
        link: "/services/outsourcing"
    }
]
---

<section class="bg-white pt-12 pb-16">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-serif font-bold text-center mb-12">Our Expertise</h2>
        <div class="flex flex-wrap pb-4">
            {
                services.map((service) => (
                    <div class="w-full sm:w-1/2 snap-start">
                        <div class="bg-white p-8 mx-4">
                            <h2 class="text-xl text-center font-serif font-bold mb-8">{service.title}</h2>
                            <p class="mb-6 text-center">{service.description}</p>
                            <a href={service.link} class="block mx-auto bg-slate-800 text-white py-2 px-4 rounded-md w-max">Learn More</a>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>