<section class="bg-white">
    <div class="container w-dvw max-w-none h-dvh py-20 px-8 bg-[linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/hero-image.png')] bg-center bg-cover flex items-center">
        <div class="text-center">
          <h1 class="text-5xl lg:text-5xl font-serif font-bold text-white mb-6">
            Outsourcing Solutions for Optimizing Processes and Enhancing Service Delivery
          </h1>
          <!-- <p class="text-lg text-gray-700">
            MedMarvel Software Solutions Private Limited is a leading healthcare technology company that provides innovative enterprise product development and business & knowledge process outsourcing services to healthcare organizations, medical device manufacturers, and pharmaceutical companies. 
          </p> -->
        </div>
    </div>
  </section>