---
import { Icon } from "astro-icon/components";

const steps = [
  {
    icon: 'outsourcing/requirements', // Placeholder SVG path for the first icon
    description: "We assess your organization's unique operational needs and identify areas for workflow optimization."
  },
  {
    icon: 'outsourcing/process', // Placeholder SVG path for the second icon
    description: 'We develop a tailored outsourcing strategy, aligned with compliance, security, and efficiency requirements, and execute tasks such as medical transcription, coding, billing, and data management'
  },
  {
    icon: 'outsourcing/office', // Placeholder SVG path for the third icon
    description: 'Our team works as an extension of your organization, seamlessly integrating into your existing workflows to provide dedicated back-office support without disrupting operations'
  },
  {
    icon: 'outsourcing/monitoring',
    description: 'We provide ongoing support, real-time reporting, and process refinement to ensure sustained efficiency, compliance, and service excellence'
  }
];
---

<section class="py-20 bg-white">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-serif font-bold text-center mb-16">How it works</h2>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      {steps.map((step, index) => (
        <div class="bg-gray-50 p-8 rounded-lg text-center" id={`step-${index.toString()}`}>
          {/* <svg class="w-16 h-16 mx-auto mb-6 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-inejoin="round" stroke-width={2} d={step.icon} />
          </svg> */}
          <Icon class="block mx-auto w-16 h-16 mb-6" name={step.icon} />
          <p class="text-gray-700">{step.description}</p>
        </div>
      ))}
    </div>
  </div>
</section>
