---
import { Icon } from "astro-icon/components";
---

<!-- <section class="bg-gray-50 pt-8 pb-16 px-10 text-lg text-center">
    <h2 class="text-4xl font-serif font-bold mb-4">Technology That Drives Excellence</h2>
    <p>We leverage industry-leading technology, robust infrastructure, and secure data environments to ensure seamless service delivery</p>
</section> -->
<section class="p-8">
    <div class="grid grid-cols-3 grid-rows-3 sm:grid-cols-5 sm:grid-rows-5 gap-4 sm:gap-0">
        <div class="sm:col-start-2 sm:row-start-3 col-span-3 text-center sm:px-12">
            <h4 class="text-2xl font-serif font-bold mb-4">Technology That Drives Excellence</h2>
                <p>We leverage industry-leading technology, robust infrastructure, and secure data environments to ensure seamless service delivery</p>
            </div>
            <div class="sm:col-start-2 sm:row-start-1 flex flex-col items-center text-center">
                <Icon name='tech/workstation' class="w-16 h-16 mb-4" />
                <p class="text-sm font-semibold">Hardware</p>
                <p class="text-sm">Dell Workstations with Dual Monitors having Windows 10 Pro / Windows 11 Pro / Office 365</p>
            </div>
            <div class="sm:col-start-4 sm:row-start-1 flex flex-col items-center text-center">
                <Icon name='tech/datacenter' class="w-16 h-16 mb-4" />
                <p class="text-sm font-semibold">Datacenter</p>
                <p class="text-sm">Amazon Web Services</p>
            </div>
            <div class="sm:col-start-1 sm:row-start-3 flex flex-col items-center text-center">
                <Icon name='tech/software' class="w-16 h-16 mb-4" />
                <p class="text-sm font-semibold">PACS / RIS Software</p>
                <p class="text-sm">Nexxris, EXA, MERGE, Mckesson, SECTRA, EPIC, Philips Intellispace Enterprise Edition, Intelepacs.</p>
            </div>
            <div class="sm:col-start-5 sm:row-start-3 flex flex-col items-center text-center">
                <Icon name='tech/message' class="w-16 h-16 mb-4" />
                <p class="text-sm font-semibold">Instant Messaging</p>
                <p class="text-sm"> Spark, Rocket Chat, Teams</p>
            </div>
            <div class="sm:col-start-2 sm:row-start-5 flex flex-col items-center text-center">
                <Icon name='tech/phone' class="w-16 h-16 mb-4" />
                <p class="text-sm font-semibold">Phone and Fax</p>
                <p class="text-sm">Ringcentral</p>
            </div>
            <div class="sm:col-start-4 sm:row-start-5 flex flex-col items-center text-center">
                <Icon name='tech/ai' class="w-16 h-16 mb-4" />
                <p class="text-sm font-semibold">AI Algorithm</p>
                <p class="text-sm">Aidoc, Rapidai</p>
            </div>
        </div>
</section>